

#heder{
float:center;
width: 95%;
height: 290px;
margin:0 auto 0;
}

#telo{
    float:center;
    width: 95%;
    height: 100%;
    background: #063852;
    margin:0 auto 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top:15px;
}

#wraper{
    width: 1000px;
    margin: 0 auto 0;
    }

#futer{
    float:center;
    width: 95%;
    height: 60px;
    background: #011A27;
    color:white;
    margin:0 auto 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom:15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 95%;
    margin: 0 auto 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    background-color: #011A27;
}

li {
    float: left;
    width: 150px;
    height: 67px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 13pt;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #063852;
}

#levakolona{
    float:left;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    height: 690px;
    border: 1px solid black;
    margin: 2% 0 0 2%;
    color: white;
    background-color: rgb(8, 44, 71);
}

#desnakolona{
    float:left;
    width: 290px;
    height: 690px;
    border: 1px solid black;
    margin: 2% 0 0 2%;
    background-color: rgb(8, 44, 71);
}

#deo1{
    float:left;
    width: 255px;
    height: 330px;
    border: 1px solid black;
    margin: 15px 0 0 15px;
    color:white;
    background: #063852;
}
#deo2{
    float:left;
    width: 255px;
    height: 200px;
    border: 1px solid black;
    margin: 15px 0 0 15px;
    color:white;
    background: #6FB98F;
}

#deo3{
    float:left;
    width: 255px;
    height: 92px;
    border: 1px solid black;
    margin: 15px 0 0 15px;
    color:white;
    background: #6FB98F;
}

#btc1{
    float:center;
    width: 95%;
    height: 1330px;
    background: #063852;
    margin:0 auto 0;
    color:white;
    margin-top:15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#block1{
    float:center;
    width: 95%;
    height: 1250px;
    background: #063852;
    margin:0 auto 0;
    color:white;
    margin-top:15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#block2{
    float:center;
    width: 95%;
    height: 120px;
    background: #063852;
    margin:0 auto 0;
    color:white;
    margin-top:15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#galerija1{
    float:center;
    width: 95%;
    height: 530px;
    background: #063852;
    margin:0 auto 0;
    margin-top:15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#novcanik1{
    float:center;
    width: 95%;
    height: 3500px;
    background: #063852;
    margin:0 auto 0;
    margin-top:15px;
    color:white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


button[id=myBtn] {
    background-color: rgb(8, 44, 71);
    border: none;
    color: white;
    width: 120px;
    height: 67px;
    text-decoration: none;
    font-size: 13pt;
   
    float: right;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

textarea {
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
input[type=submit]
 {
    background-color: #4CAF50;
    border: none;
    color: white;
    width:100px;
    height: 50px;
    text-decoration: none;
    margin: 4px 2px;
    float: right;
    border-radius: 4px;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    height: 500px;
    border-radius:5px;
    width:1000px;
}

.contactus {
    background-color: orange;
    width: 100%;
    height: 50px;
    padding-top:15px;
    
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    margin: 0 30px 10px 0;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#slike{
    float:left;
    width:200px;
    height: 150px;
    background: #063852;
    margin:20px 0 0 30px;
}

#vest{
    float:left;
    width: 270px;
    height: 150px;
    border: 1px solid white;
    background: gray;
    margin: 20px 0 0 20px;
}




#vest2{
    float:left;
    width: 270px;
    height: 40px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background: #063852;
    margin: 0 0 0 20px;
}

#vest3{
    float:left;
    width: 560px;
    height: 240px;
    background: #063852;
    border: 1px solid white;
    margin: 20px 0 0 20px;
}

#vest5{
    float:left;
    width: 259px;
    height: 240px;
    border-right: 1px solid white;
    background: #063852;
    
}
#vest2 a:visited 
{color: white;}
#vest5 a:visited 
{color: white;}

#vest2 a:hover 
{color: orange;}
#vest5 a:hover 
{color: orange;}

#vest4{
    float:left;
    width: 560px;
    height: 170px;
    background: #063852;
    border: 1px solid white;
    margin: 20px 0 0 20px;
}
